@import 'src/scss/vars';
.logged-zone {
  display: flex;

  &__menu {
    box-sizing: border-box;
    background: $light-blue;
    height: 100vh;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    font-size: 14px;
    color: $main-blue;
    padding: 0 35px;
  }

  &__logout {
    width: 50px;
    height: 50px;
    border: 1px solid $main-blue;
    border-radius: 50px;
    display: flex;
    font-size: 14px;
    line-height: 14px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;
    outline: none;

    &:hover {
      background: #d1f4ff66;
    }

    &:active {
      background: #d1f4ff;
    }
  }

  &__username {
    font-family: 'Gotham Pro', sans-serif;
    text-align: center;
    font-weight: 500;
    color: $main-blue;
    text-transform: uppercase;
  }

  &__content {
    height: 100vh;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    &-wrapper {
      width: 940px;
      padding: 35px 0;
    }
  }

  &__header {
    margin-bottom: 15px;
    position: relative;
    &-title {
      color: $main-blue;
      font-weight: bold;
      font-size: 24px;
    }

    &-back {
      position: absolute;
      bottom: -8px;
      left: -60px;
      width: 40px;
      height: 40px;
      border: 1px solid $main-blue;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:active {
        background: #d1f4ff !important;
      }

      &:hover {
        background: #d1f4ff66;
      }
    }
  }

  .menu {
    margin-top: 30px;
    &__item {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;

      &--active,
      &:active,
      &:hover {
        border-left: 2px solid $main-blue;
        padding-left: 18px;
      }

      &--active,
      &:active {
        background: #d1f4ff !important;
      }

      &:hover {
        background: #d1f4ff66;
      }

      &-logo {
        margin-bottom: 10px;
      }

      &-text {
        font-weight: bold;
        color: $text-heading;
        text-transform: capitalize;
      }
    }
  }
}
