@import 'src/scss/vars';
.logged-zone {
  display: flex;

  &__menu {
    box-sizing: border-box;
    background: $light-blue;
    height: 100vh;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    font-size: 14px;
    color: $main-blue;
    padding: 0 35px;
  }

  &__logout {
    width: 50px;
    height: 50px;
    border: 1px solid $main-blue;
    border-radius: 50px;
    display: flex;
    font-size: 14px;
    line-height: 14px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  &__username {
    font-family: 'Gotham Pro', sans-serif;
    text-align: center;
    font-weight: 500;
    color: $main-blue;
    text-transform: uppercase;
  }

  &__content {
    height: 100vh;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
