.test-page {
  &__form-row {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
  }

  &__form-cell {
    min-height: 65px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &--big {
      width: 460px;
    }

    &--small {
      width: 300px;
    }
  }

  &__label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }

  &__input {
    height: 40px;
    border-color: #008fbc;
  }

  &__theme {
    overflow: hidden;
    width: 620px;
  }

  &__theme-name {
    height: 48px;
    width: 560px;
    border: #008fbc dashed 2px;
    border-radius: 1px 6px 6px 1px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  &__button-text {
    font-size: 14px;
    line-height: 11px;
    font-weight: bold;
    color: #008fbc;
    position: absolute;
    left: 39%;
    top: 35%;
  }

  &__badge {
    height: 48px;
    width: 60px;
    border: #008fbc dashed 2px;
    border-radius: 6px 1px 1px 6px;
    border-right: none;
    display: inline-block;
    position: relative;
  }

  &__badge-new {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 20px;
  }
}

.ant-select-selection {
  border-color: #008fbc;

  &--single {
    height: 40px;
  }

  &__rendered {
    line-height: 40px;
  }

  &--multiple {
    padding-bottom: 2px;
  }

  &--mulpiple &__rerendered > ul > li {
    margin-top: 8px;
  }
}

.ant-calendar-picker-input.ant-input,
.ant-time-picker-input {
  height: 40px;
  border-color: #008fbc;
}

.input {
  height: 40px;
  border-color: #008fbc;
  border-radius: 6px;
}
