@import 'src/scss/vars';

.question-form {
  &__row {
    display: flex;
    width: 100%;

    &-item {
      width: 50%;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .ant-select {
    display: block;
  }

  .variant {
    .ant-input {
      border-color: $main-blue;

      &-group-addon {
        color: $main-blue;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        border-color: $main-blue;
        width: 40px;
        & > * {
          vertical-align: middle;
        }
      }
    }
  }
}
