@import 'src/scss/vars';

.variant {
  margin-bottom: 10px;
  width: 392px;

  &--selected {
    .ant-input {
      background-color: #008fbc;
      color: #ffffff;

      &-group-addon:first-child {
        background-color: #008fbc;

        path {
          stroke: #ffffff;
        }
      }
    }
    ::placeholder {
      color: #ffffff;
    }
  }

  &__row {
    $row: &;
    display: flex;
    width: 460px;
    margin-top: 10px;

    &-item {
      height: 48px;
      margin-right: 10px;
      flex: 1;

      &:last-child {
        margin-right: 0;
      }

      &:nth-of-type(2n) {
        margin-right: 20px;
      }
    }

    &:nth-of-type(n) {
      margin-bottom: 10px;
    }
  }

  .ant-input {
    border-color: $main-blue;
    height: 48px;

    &-group-addon {
      color: $main-blue;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px;
      border-color: $main-blue;
      background: white;
      width: 48px;

      svg {
        height: 14px;
        width: 14px;
      }
      & > * {
        vertical-align: middle;
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  &--new {
    width: 460px;
    .ant-input {
      text-align: center;
      font-weight: bold;
      color: $main-blue;

      &[disabled],
      &-disabled {
        color: $main-blue;
        background-color: white;
        cursor: pointer;
        opacity: inherit;
      }
      &,
      &-group-addon {
        border-style: dashed;
      }
    }
    &:hover {
      .ant-input,
      .ant-input-group-addon {
        cursor: pointer;
        background-color: $hover-blue;
      }
    }
  }
}
